.headerOption{
    background-color: #A7EDE7;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    color: gray;
    cursor: pointer;
}

.headerOption:hover{
    color: #F2BE22;
}

.headerOption_icon{
    background-color: #A7EDE7;
    object-fit: contain;
    height: 30px !important;
    width: 30px !important;
}

.headerOption_title{
    background-color: #A7EDE7;
    font-size: 13px;
    font-weight: 400;
}